# NOTICE:
# Vue app will only detect VUE_APP_* envs

# shared

# Django
SECRET_KEY=CHANGEME!!!

# PostgreSQL
POSTGRES_DB=postgres_db
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=172.25.0.6
POSTGRES_PORT=5432

# gunicorn

# nginx

# vuejs
VUE_APP_DADATA_KEY=CHANGEME!!!

#pgadmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=qweqweqwe

# prod only!
# PostgreSQL backups (https://github.com/prodrigestivill/docker-postgres-backup-local)
# SCHEDULE=@daily
# BACKUP_KEEP_DAYS=7
# BACKUP_KEEP_WEEKS=4
# BACKUP_KEEP_MONTHS=6
# HEALTHCHECK_PORT=80
