[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.4"
djangorestframework = "==3.10.2"
drf-yasg = "==1.16.1"
packaging = "==19.1"
djoser = "==2.0.1"
psycopg2-binary = "==2.8.3"
django-environ = "==0.4.5"
django-simple-history = "==2.7.3"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.7"
