[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
djangorestframework = "==3.11.0"
djoser = "==2.0.3"
psycopg2-binary = "==2.8.4"
django-environ = "==0.4.5"
pillow = "==6.2.1"

[dev-packages]
drf-yasg = "==1.17.0"
django-silk = "==4.0.1"

[requires]
python_version = "3.7"
