[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.12"
djangorestframework = "==3.11.0"
djoser = "==2.0.3"
psycopg2-binary = "==2.8.5"
Pillow = "==7.1.2"
django-import-export = "==2.0.2"
drf-yasg = "==1.17.1"
django-q = "==1.2.1"
django-post-office = "==3.4.0"
django-q-email = "==5.0.1"

[dev-packages]
django-silk = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"
mypy = "*"
ptvsd = "*"

[requires]
python_version = "3.8"
